@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 2rem;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 70px auto 70px;
  grid-template-rows: 8% auto 40%;
  grid-template-areas: "head head head" ". mainsec ." "foot foot foot";
}
body header {
  grid-area: head;
}
body main {
  grid-area: mainsec;
}
body footer {
  grid-area: foot;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 200px;
  height: 40px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 7%;
}
header nav ul {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  transition: 0.55s;
}
header nav ul li a:hover {
  transition: 0.55s;
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

body {
  background-color: #1c2431;
}
body .ilustration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .ilustration h1 {
  font-size: 3.5rem;
  color: white;
  text-align: center;
  line-height: 5rem;
  letter-spacing: 0.1rem;
}
body .ilustration p {
  margin-top: 2%;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
body .ilustration button {
  margin-top: 2%;
  width: 200px;
  height: 50px;
  background-color: #65e2d9;
  border-radius: 40px;
}
body .ilustration button span {
  color: white;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
}
body .services {
  margin-top: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body .services div {
  margin: 5%;
  width: 350px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .services div img {
  max-width: 15%;
}
body .services div p {
  padding: 4%;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
body .services div p span {
  color: white;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
}
body .stayproductiv {
  display: flex;
  align-items: center;
}
body .stayproductiv div {
  height: 300px;
}
body .stayproductiv div h1 {
  font-size: 3.5rem;
  color: white;
  line-height: 5rem;
  letter-spacing: 0.1rem;
}
body .stayproductiv div p {
  margin-top: 2%;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
body .stayproductiv div p span {
  margin-top: 2%;
}
body .stayproductiv div p span a {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
body .stayproductiv div p span a:hover {
  text-decoration: underline;
}
body .comments {
  margin-top: 13%;
  margin-bottom: 23%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body .comments .card {
  background-color: #202a3c;
  width: 350px;
  height: 180px;
  border-radius: 4px;
  box-shadow: 1px 1px 20px 1px #0b1523;
}
body .comments .card p {
  padding: 4%;
  margin-top: 2%;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
body .comments .card .profilebox {
  display: flex;
  align-items: center;
}
body .comments .card .profilebox .profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  background-image: url("../img/profile-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .comments .card .profilebox .profile2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  background-image: url("../img/profile-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .comments .card .profilebox .profile3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  background-image: url("../img/profile-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .accesstoday {
  margin-top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .accesstoday .accessbox {
  position: absolute;
  width: 50%;
  height: 350px;
  background-color: #202a3c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 1px #0b1523;
}
body .accesstoday .accessbox h1 {
  font-size: 3rem;
  color: white;
  line-height: 5rem;
  letter-spacing: 0.1rem;
}
body .accesstoday .accessbox p {
  padding: 1%;
  margin-top: 2%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
body .accesstoday .accessbox input {
  width: 500px;
  height: 50px;
  border-radius: 40px;
}
body .accesstoday .accessbox button {
  margin-top: 2%;
  width: 200px;
  height: 50px;
  background-color: #65e2d9;
  border-radius: 40px;
}

footer {
  width: 100%;
  height: 500px;
  background-color: #0b1523;
}
footer .container {
  margin-top: 17%;
}
footer .container .footerlogo {
  width: 200px;
  height: 40px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 7%;
}
footer .container .container2 {
  margin-top: 5%;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
footer .container .container2 .contactbox {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
footer .container .container2 .contactbox .mission p {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
footer .container .container2 .contactbox .phone {
  width: 220px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
footer .container .container2 .contactbox .phone span {
  margin: 3%;
}
footer .container .container2 .contactbox nav ul li a {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
footer .container .container2 .socialmedia {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
footer .container .container2 .socialmedia div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid white 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container .container2 .socialmedia .fab {
  font-size: 20px;
  color: white;
}

/*# sourceMappingURL=index.css.map */
